<%- include("top"); -%>

<div class="gallery-container">

  <% for (var i = 0; i < cloudvideos.length; i++) { %>
    <div class="video-box">
      <video class="gal" width="250" height="150" src="<%=cloudvideos[i]%>">

      </video>
      <img class="play-btn" src="play.png" alt="">
    </div>


  <% } %>

</div>

<script src="common.js"></script>

<%- include("bottom"); -%>
