<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VideoSite</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  </head>
  <body>

    <h2>VideoSite</h2>

    <div class="nav-bar">
      <div class="button-container">
        <button onclick="location.href='/'" class="btn" type="button">Home</button>
        <button onclick="location.href='/upload'" class="btn" type="button">Upload</button>
      </div>
    </div>
